<%- include("./partials/header.ejs") %>

<div class="wrapper">
    <div class="content rounded">
        <h1 class="display-6">My Bookings</h1>
        <p>This is your bookings page. (Feature coming soon!)</p>
    </div>
</div>

<%- include("./partials/footer.ejs") %> 